<%- include('layout/header.ejs'); -%>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus assumenda et suscipit aliquid blanditiis eaque, provident cupiditate sunt maiores fugit reprehenderit dolorem totam. Quae reiciendis accusamus velit, quis corrupti laboriosam?</p>
<%- include('layout/footer.ejs'); -%>